[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
irdl = {editable = true, path = "."}
pynamodb = "*"
pyyaml = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi-cloudauth = "*"

[dev-packages]

[requires]
python_version = "3.8"
